[Desktop Entry]
Name=XBMC (FernetMenta master branch)
Comment=This session will start the XBMC Media Center. Development version, FernetMenta fork, master branch.
Exec=/opt/xbmc-fm-master/bin/xbmc-standalone
TryExec=/opt/xbmc-fm-master/bin/xbmc-standalone
Type=Application
